{% extends "base.twig" %}

{% block stylesheet %}
<style>
section {
    
}
</style>
{% endblock %}

{% block js %}{% endblock %}

{% block jquery %}{% endblock %}

{% block section %}
<div class="container-fluid">
    <div class="row">
        <div class="row vh-100">
            <div class="col-md-7 bg-warning">Hello</div>
            <div class="col-6 col-md-5">Hi</div>
        </div>
    </div>
</div>
{% endblock %}